body{
    background-color: black;
}

#body{
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content:space-between;
    text-align: right;
}

#display{
        background-color: rgb(83, 83, 83);
        margin: auto;
        display: flex;
        justify-content: center;
        color: rgb(255, 222, 222);
        min-width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        border: 1px ridge black;
        box-shadow: 3px 1px black;
        flex-wrap: wrap;
        height: 100%;

    
}

#InnerDisplay{
    margin: auto;
    display: flex;
    text-align: right;
    justify-content: end;
    font-size: 75px;
    background-color: rgb(27, 27, 27);
    color: cadetblue;
    min-width: 95%;
    max-width:200px;
    flex-wrap: wrap;
    flex-direction: column;
    min-height:90px;
}

#calc{
    display: flex;
    text-align: center;
    background-color: grey;
    justify-content: center;
    max-width: fit-content;
    flex-direction: column;
    margin: auto;
    border: 15px solid black;

}

.but{
    display: flex;
    text-align: center;
    border: 2px ridge cadetblue;
}

button{
    border-radius: 10%;
    color: aliceblue;
    background-color: black;
    font-size: 60px;
    min-width: 90%;
    border: 4px ridge black;
}

#ops{
    display: flex;
    justify-content: space-between;
}

.ops{
    display: flex;
    text-align: center;
}